.calculator {
  background-color: var(--white);
  max-width: 617px;
  padding: 24px;
  border-radius: 15px;
  margin: 0 auto;
}

.calculator__heading {
  color: var(--grey-500);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
}

.calculator__input {
  border: none;
  background-color: var(--grey-50);
  color: var(--green-900);
  text-align: end;
  padding: 16px;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
}

.calculator__input--bill,
.calculator__input--people {
  background-repeat: no-repeat;
  background-position: 16px center;
}

.calculator__input--bill {
  background-image: url(/icon-dollar.svg);
}

.calculator__input--people {
  background-image: url(/icon-person.svg);
}

.calculator__tip {
  width: 98%;
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.calculator__tip__btn,
.calculator__tip__input {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: 600;
}

.calculator__tip__input {
  background-color: var(--grey-50);
  text-align: center;
}

.calculator__tip__btn {
  background-color: var(--green-900);
  color: white;

  transition: transform 0.2s;
}

.calculator__tip__btn:hover,
.calculator__tip__btn:focus {
  background-color: var(--green-400);
  color: var(--green-900);
  transform: scale(98%);
}

/* calculator result  */

.calculator__result {
  background-color: var(--green-900);
  padding: 1.5rem;
  border-radius: 15px;
  margin-top: 2rem;
}

.calculator__result__row {
  display: flex;
  justify-content: space-between;
  line-height: 0.25;
  margin-bottom: 1.5rem;
  align-items: center;
}

.calculator__result__text--line {
  color: var(--white);
}

.calculator__result__text--person {
  color: var(--grey-400);
  font-size: 0.9rem;
}

.calculator__result__amount {
  color: var(--green-400);
  font-size: 1.8rem;
  font-weight: 700;
}

.calculator__result__btn {
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: var(--green-400);
  color: var(--green-900);
  width: 98%;
}

.calculator__result__btn:hover,
.calculator__result__btn:focus {
  background-color: var(--green-200);
}

@media (min-width: 500px) {
  .calculator {
    padding: 40px;
  }
}

@media (min-width: 798px) {
  .calculator__tip {
    grid-template-columns: repeat(3, minmax(33%, 1fr));
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1rem;
  }
}

@media (min-width: 1240px) {
  .calculator {
    display: flex;
    max-width: 920px;
    gap: 2rem;
    padding: 40px;
  }

  .calculator__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 50%;
  }

  .calculator__result {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 3rem 2rem;
  }

  .calculator__result__btn {
    margin-top: auto;
  }
}
